@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
    padding: 0;
    margin-left: 7em;
    margin-right: 5em;
    background: rgb(23,27,39);
    background: linear-gradient(90deg, rgba(23,27,39,1) 16%, rgba(137,96,142,1) 100%);
    color: #2f4858;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
:root{
    --bgColor: #171B27;
}
html{
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
header{
    display: flex;
    justify-content: flex-start;   
    padding-top: 1.3em;
}
header svg{
    height: 4em;
    width: 4em;
}
header h3{
    margin-top: 0;
    font-size: 2.2rem;
    color:#1ED760;
    border-radius: 25px;
    padding: 0.3em;
}
span{
    color: #1ED760;
}
.logo{
    display: flex;
}
.logo-txt{
    font-size: 1.7rem;
}
.hero{
    display: flex;
    position: relative;
}
.hero-img{
    position: absolute;
    bottom: -10em;
    right: 0;
}
.hero h4{
    font-size: 4rem;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 115%;
    width: fit-content;
}
.hero p{
    font-size: 1rem;
    line-height: 155%;
    margin-bottom: 2rem;
    color: hwb(0 100% 0% / 0.673);
}
.hero .mockup{
    width: 1000px;
    height: 900px;
    position: absolute;
    right: -7em;
    bottom: -5em;
    margin-left: 15em;
    z-index: -1;
    overflow-x: hidden;
}
.hero-img .mockup-mobile{
    display: none;
}
@keyframes slide-right-left {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-50px);
    }
    100% {
      transform: translateX(0);
    }
}
.hero-content{
    width: 40em;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}
.btn{
    background: linear-gradient(90deg,#00c795,#009dff);
    padding: 1rem 2.5rem;
    border-radius: 45px;
    text-align: center;
    font-weight: 900;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    letter-spacing: .1px;
    cursor: pointer;
    outline: none;
    transition: transform 0.3s ease-in-out;
    display: inline-block;
}
.btn > a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
}
.btn:hover {
    transform: translateY(-10px);
  }

/*CARD CSS STARTING HERE*/

.card-list {
    display: flex;
    padding: 3rem;
    overflow-x: scroll;
    font-family: 'DM Mono', monospace;
    scroll-snap-type: x mandatory;
    scroll-padding: 0 24px;
}

.card-list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.card-list::-webkit-scrollbar-thumb {
    background: #201c29;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

.card-list::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
}


.card {
    height: 350px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    -webkit-box-shadow: -1px 5px 26px 8px rgba(30,215,96,0.55); 
    box-shadow: -1px 5px 26px 8px rgba(30,215,96,0.55);
    display: flex;
    flex-direction: column;
    gap: 0; 
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;
    border-top: 6px solid #1ED760;
    border-bottom: 6px solid #1ED760;
    scroll-snap-align: start;
}

.card:focus-within~.card, .card:hover~.card {
    transform: translateX(130px);
}

.card:hover {
    transform: translateY(-1rem);
}

.card:not(:first-child) {
    margin-left: -130px;
}

.header-tag-author-cont{
    display: flex;
    flex-direction: column;
}
.card-header {
    margin-bottom: auto;
    width: 40em;
}

.card-header p {
    font-size: 14px;
    margin-top: 5em;
    color: #7a7a8c;
    position: relative;
    top: 10em;
    left: 5em;
}

.card-header h2{
    font-size: 20px;
    margin: .25rem 3em auto; 
    text-decoration: none;
    color: inherit;
    border: 0;
    display: inline-block;
    cursor: pointer;
    position: relative;
    top: -1em;
    left: -6em;
    filter: drop-shadow(16px 16px 20px #1ED760) invert(1%);
}
.spancolorful{
    background: linear-gradient(90deg,#00c795,#009dff);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.card-header h3{
    font-size: 1.1rem;
    margin-top: 5em;
    color: #7a7a8c;
    position: relative;
    bottom: 3.5em;
    left: 4.2em;
    display: flex;
}
.bx-group{
    display: flex;
    position: relative;
    bottom: -1px;
    left: -1px;
}
.bx-music{
    display: flex;
    position: relative;
}
.artist-name{
    position: relative;
    width: 10em;
    left: -4em;
}
.card-header h2:hover {
    background: linear-gradient(180deg,#1ED760,#e7efff);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.card-author {
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    position: absolute;
    left: 3em;
}

.author-avatar {
    grid-area: auto;
    align-self: start;
    position: relative;
    box-sizing: border-box;
}

.author-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    overflow: hidden;
    margin: 16px 10px;
}


.half-circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 48px;
    fill: none;
    stroke: #1ED760;
    stroke-width: 8;
    stroke-linecap: round;
    pointer-events: none;
}
.author-avatar{
    position: relative;
    display: flex;
}
.author-avatar p{
    font-size: 14px;
    margin: 0 0 1rem;
    color: #7a7a8c;
}
.tags {
    margin: 0;
    padding: .5rem 0 1rem;
    position: relative;
    top: -6em;
    left: 6em;
    line-height: 2;
    margin-bottom: 0;
    margin-left: 0em;
    position: relative;
    width: 20em;

}

.tags a {
    font-style: normal;
    font-weight: 700;
    font-size: .5rem;
    color: #7a7a8c;
    text-transform: uppercase;
    font-size: .66rem;
    border: 3px solid #28242f;
    border-radius: 2rem;
    padding: .2rem .85rem .25rem;
    position: relative;
}

.tags a:hover {
    background: linear-gradient(90deg,#00c795,#1ED760);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    background-clip: text;
    border-color: white;
}
.song-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.7em;
    flex-wrap: wrap;
    /* position: relative;
    top: 1em;
    width: 10em; */
}  
.song-list h3 {
    font-size: 1.1rem;
    color: #7a7a8c;
    margin: 0;
}
.songs{
    display: flex;
    justify-content: center;
    text-align: left;
    gap: 0.5em;
    position: relative;
    bottom: 5em;
}
.song-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.song-img img{
    border-radius: .2em;
}
.song-duration{
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
    position: relative;
    gap: .3em;
    top: .7em;
    left: .5em;
    color: #A1A1AE;
}
.song-boxi{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    position: relative;
    top: 1.3em; 
    left: .5em;
}
.first-song{
    /* margin-bottom: 0.3em; */
    justify-content: center;

}
.second-song{
    position: relative;
    bottom: 0em;
    justify-content: center;
}
.last-song{
    /* margin-top: 0.5em; */
    justify-content: center;
}
/* */
form{
    position: relative;
    display: flex;
    justify-content: center;
}
.searchbar{
    
    width: 25em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -4em;
}
.src{
    background: linear-gradient(90deg,#00c795,#009dff);
    font-weight: 900;
    border-radius: 50px;
    width: 25em;
    height: 2em;
    padding: 8px 40px 8px 20px;
    margin: 3em 2em;
    outline: none;
    font-size: 1rem;
    border: none;
    box-shadow: 0 5px 8px 3px black;
}

button{
    position: absolute;
    font-size: 1.7rem;
    top: 2em;
    right: 1.5em;
    cursor: pointer;
    border: none;
    background: none;
    margin-right: 0.3em;
}
.createcard h4{
    font-size: 4rem;
    margin-bottom: 1em;
    margin-top: 1em;
    line-height: 115%;
    width: 11em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.moveit{
    display: flex;
    justify-content: center;
    font-size: 2em;
    animation: up-and-down 2s infinite;
}
.made{
    height: 370px;
    width: 300px;
    position: relative;
    top: 0;
    left: 47%;
    display: none;
}
.made .song-boxi{
    position: relative;
    gap: 2.3em;
    top: 1em; 
    left: .5em;
}
.made .song-duration{
    position: relative;
    gap: .5em;
    top: .2em;
    left: .5em;
}
.artist-name-searched{
    position: relative;
    left: 5em;
}
.album-cover{
    width: 2.5em;
    height: 2.5em;
}
.cta{
    position: relative;
    top: -6em;
    margin-left: auto;
    margin-right: auto;
    color: #003824;
}
.header-song{
    display: none;
}
@keyframes up-and-down {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(0);
    }
}
@media (max-width: 450px) {
    html{
        font-size: 50%;
    }
    body{
        color: #fff;
        text-align: center;
    }
    .logo{
        width: 25%;
    }
    .hero .mockup{
        display: none;
    }
    .mockup-mobile{
        display: block;
        max-width: 100%;
    }
    .hero-img{
        position: relative;
        bottom: 0;
    }
    .card-list{
        display: none;
    }
    .createcard > h4{
        width: fit-content;
    }
    .card-header h2{
        font-size: 2.4rem;
        background: linear-gradient(180deg, #00c795, #1ED760);
        text-shadow: none;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        width: fit-content;
        color: #1ED760;
    }
    .card{
        display: flex;
        flex-direction: column;
        gap: 10em;
    }
    .card-header{
        position: relative;
        top: 2em;
        left: 9em;
    }
    #artist-follow-0, #artist-follow-1, #artist-follow-2, #artist-follow-3, #artist-follow-4, #artist-follow-5, #artist-follow-6{
        position: relative;
        top: 3em;
        left: 1.3em;
        font-size: 1.5rem;
    }
    .bx-group{
        position: relative;
        top: 6.5rem;
        left: 0em;
        font-size: 2rem;
    }
    .tags{
        position: relative;
        top: -3em;
        left: 8em;
        max-width: 30em;
    }
    .tags a{
        font-size: 1.3rem;
    }
    .made{
        width: 5rem;
        height: 40rem;
        display: none;
        overflow-y: hidden;
        overflow-x: hidden;
        position: relative;
    }
    .made .follower{
        position: relative;
        top: -3.5em;
        left: -.7em;
    }
    .name{position: absolute;}
    .card-list{
        display: none;
    }
    .made .bx-group{
        position: relative;
        top: -.1em;
        left: 2em;
    }
     .album-cover{
        width: 5rem;
        height: 5rem;
    }
    .song-list{
        font-size: 6rem;
        position: relative;
        top: 0em;
    }
    .song-sec-searched{
        position: relative;
        left: 0;
        top: 10em;
    }
    .first-song{
        position: relative;
        font-size: 2rem;
        top: 1.4em;
    }
    .made .songs{
        position: relative;
        top: -19em;
        left: 0em;
    }
    .made .cta{
        position: relative;
        top: -8em;
        font-size: 1.5rem;
    }
    .made .first-song{
        position: relative;
        top: 0.7em;
        font-size: 1.5rem;
    }
    .made .second-song{
        position: relative;
        font-size: 1.5rem;
        top: .5em;
    }
    .made .last-song{
        position: relative;
        font-size: 1.5rem;
        top: -11.7em;
    }
    .song-boxi{
        position: relative;
        font-size: 1.5em;
        top: 1em;
        left: -2em;
        gap: 1.7em;
    }
    .song-boxi {
        position: relative;
        top: 5em;
    }
    .song-boxi .second-time{
        position: relative;
        top: 1em;
    }
    .song-boxi .third-time{
        position: relative;
        top: 1.5em;
    }
    .song-duration{
        position: relative;
        font-size: 1.5em;
        gap: 0em;
    }
    .made .first-duration{
        position: relative;
        font-size: 1em;
        top: -.5em;
        left: 0em;
    }
    .made .second-duration{
        position: relative;
        font-size: 1em;
        top: -.3em;
        left: 0em;
    }
    .made .third-duration{
        position: relative;
        font-size: 1em;
        top: -.4em;
        left: 0em;
    }
    .createcard h4{
        margin-left: auto;
        margin-right: auto;
        font-size: 3.5rem;
        color:#1ED760;
    }
    @keyframes up-and-down {
        0% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(25px);
        }
        100% {
          transform: translateY(0);
        }
    }
    input[type="text"]{
        font-size: 2rem;
    }
    .bxl-deezer{
        font-size: 4rem;
        position: relative;
        top: .8em;
        left: 1.6em;
    }
    .spotylogo{
        display: none;
    }
    .header-song{
        position: absolute;
        top: 16.5em;
        left: -1.2em;
    }
    .header-song h4{
        font-size: 2rem;
    } 
}
